nav{
    width: 220px;
    background-color: saddlebrown;
    position: fixed;
    height: 100%;
}
h1{
    text-align: center;
}
body{
    margin: 0;
    background-color: burlywood;
}
.profileBox{
    padding-left: 1px;
}
.profile{
    transform: translateX(20%);
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 70%;
}
div{
    text-align: left;
    padding-left: 350px;
}
a{
    text-decoration: none;
    color: burlywood;
    font-size: 20px;
    display: block;
}

ul{
    list-style: none;
    width: 220px;
}
li{
    padding-top: 10px;
    width: 200px;
}
li a:hover{
    background-color: burlywood;
    color: black;
}
hr{
    border: 0;
    background: saddlebrown;
    height: 3px;
   
    
}
.exampleImg{
    padding-right: 100px;
}

#title{
   
    text-align: center;
    text-align: center;
    transform: translateX(10%);
}